<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Hero</title>
</head>
<body>
    <h1 class="container">Do you want to delete {{update_hero.name}}?</h1>
    <form action="{% url 'superheroes:detail' hero.id %}" method="get">
        {% csrf_token %}
        <input type="submit" value="cancel" class="btn btn-primary">
    </form>
    <form action="{% url 'superheroes:delete' hero.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="delete" class="btn btn-danger">
    </form>
    
    
</body>
</html>