<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Hero</title>
</head>
<body>
        <h1>Update Hero...</h1>
        <h2>
            {{update_hero.name}}
        </h2>

        <form action="{% url 'superheroes:update_hero' update_hero.id %}" method="post">
            {% csrf_token %}
            Name: <input type="text" name="name" id="name" value={{update_hero.name}}><br />
            Alter Ego: <input type="text" name="alter_ego" id="alter_ego" value={{update_hero.alter_ego}}><br />
            Primary Ability: <input type="text" name="primary_ability" id="primary_ability" value={{update_hero.primary_ability}}><br />
            Secondary Ability: <input type="text" name="secondary_ability" id="secondary_ability" value = {{update_hero.alter_ego}}><br />
            Catch Phrase: <input type="text" name="catch_phrase" id="catch_phrase" value = {{update_hero.alter_ego}}><br />
            <input type="submit" value = "UPDATE">
        </form>
</body>
</html>


